/* bob effect - credit to github.com/ianlunn */
@-webkit-keyframes hvr-bob {
0% {
  -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
   
}

.project-container {
  font-family: 'Courier Prime';
  color: #242038;
  text-align: left;
}

.project-title {
  /* font-family: 'Courier Prime' */
}

.project-description{
  /* font-family: 'Courier Prime' */
}

.project-techs{
  /* font-family: 'Courier Prime' */
  display: flex;
  flex-wrap: wrap;
}

.project-tech {
  border-radius: 4px;
  border: 2px solid #8D86C9;
  padding: 6px;
  margin: 0 8px 8px 0;
}

.project-link{
  text-decoration: none;
  border: 2px solid;
  border-radius: 6px;
  border-color: #C6D2ED;
  background-color: #C6D2ED;
  /* background: #61988e; */
  margin: 0 8px 8px 0;
  padding: 0.5em;

  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.project-link-container a:link {
  color: #8D86C9;
  /* padding: 0.5em; */
}

.project-link-container a:visited {
	color: #8D86C9;
}

/* .project-link-container a:hover {
	color: #99C1B9;
} */
