.project-container {
  font-family: 'Courier Prime';
  color: #C8C5C5;
  text-align: left;
}

.project-title {
  /* font-family: 'Courier Prime' */
}

.project-description{
  /* font-family: 'Courier Prime' */
}

.project-technologies{
  /* font-family: 'Courier Prime' */
}

.project-link{
  text-decoration: none
}

.project-link-container a:link {
  color: #ff9b00;
}

.project-link-container a:visited {
	color: #ffe0e0;
}

.project-link-container a:hover {
	color: #ffffff;
}