.project-container {
  font-family: 'Courier Prime';
  color: #242038;
  text-align: left;
}

.project-title {
  /* font-family: 'Courier Prime' */
}

.project-description{
  /* font-family: 'Courier Prime' */
}

.project-techs{
  /* font-family: 'Courier Prime' */
  display: flex;
  flex-wrap: wrap;
}

.project-tech {
  border-radius: 4px;
  border: 2px solid #8D86C9;
  padding: 6px;
  margin: 0 8px 8px 0;
}

.project-link{
  text-decoration: none
}

.project-link-container a:link {
  color: #8D86C9;
}

.project-link-container a:visited {
	color: #8D86C9;
}

.project-link-container a:hover {
	color: #99C1B9;
}