/** @format */

.contact-container {
	font-family: 'Courier Prime';
	color: #eddfef;
	text-align: center;
}

.contact-item {
	text-decoration: none;
}

.contact-item a:link {
  color: #8D86C9;
}

.contact-item a:visited {
	color: #8D86C9;
}

.contact-item a:hover {
	color: #99C1B9;
}
