.intro-container {
  text-align: left;
  margin: 0 10em 0 0;
  color: #C8C5C5 !important;
  font-family: 'Courier Prime';

};

.name-banner {
  /* color: #C8C5C5 !important; */
}

.about {
  /* color: #C8C5C5; */
}