/** @format */

.navbar-container {
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	font-family: 'Courier Prime';
}

.navbar {
	padding: 1.5em 0 1.5em 0;
	width: 100%;
	background-color: #433e3f;
	/* border-bottom: 1px solid #ccc; */
	/* border-top: 1px solid #ccc; */
}

.navbar a{
	position: relative;
	margin: 2em;
	text-decoration: none;
	font-weight: bold;
	color: #8D86C9;
	/* border-right: 1px solid #ccc; */
}

.navbar a:hover {
  color: #99C1B9;
}



@media screen and (max-width: 768px) {
}
